section img, section h2, section p, section p {
    width: 145px;
    
}

section img, section img{
    height: 130px;
}

section {
    width: 145px;
    height: 250px;
    padding: 20px;
    margin: 5px;
    background-color: #dddddd;
    box-shadow: rgba(128, 128, 128, 0.493) 2px 2px;

}

section h2 {
    font-weight: bold;
    font-size: 17px;
    font-family: 'Delius', cursive;
    padding-bottom: 10px;
    height: 30px;

}

p{
    padding-top: 5px;
    font-size: 13px;
}

button{
    border: none;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
    box-shadow: rgba(128, 128, 128, 0.493) 2px 2px;

    font-family: 'Delius', cursive;
    font-size: 13px;      
    margin-bottom: 20px;
}

button:hover{
    background-color: rgb(143, 158, 101);
    color: #f5f5f5;
}


